<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lixinyuyin.monosyllabicdetect"
    android:versionCode="1"
    android:versionName="1.0" >


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.VApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pure.PureToneTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pure.HistoryRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pure.HistoryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.resolution.ToneResolutionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.speech.rate.SpeechRecRate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.speech.threshold.Threshold"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CalibrateActivity"
            android:label="@string/title_activity_calibrate" >
        </activity>
    </application>

</manifest>
